/* 
Selector: Wildcard
Purpose: Text is blue, background is white, font-family is Tahoma by default
*/
* {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  font-family: Helvetica, Arial, Tahoma, Geneva, Verdana, sans-serif;
}

/* 
SELECTOR: ELEMENT BUTTON 
PURPOSE: STYLES BUTTON
*/
button {
  background-color: rgb(228, 212, 212); 
}

/* 
SELECTOR: CLASS ICONS
PURPOSE: STYLES THE INVIDUAL DAY'S CONTAINER, BLACK BORDER, DAY TEXT, IMAGE AND MIN/MAX VALUES, CHILD OF ICONS CONTAINER
*/
.icons{
  display: inline-bock;
  float: left;
  height: 200px;
  width: 190px;
  margin: 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
}

/* 
SELECTOR: CLASS IMGCLASS
PURPOSE: SETS HEIGH AND WIDTH OF IMAGE
*/
.imgClass {
  height: 140px;
  width: 100%;
}

/* 
SELECTOR: CLASS IMGCLASS
PURPOSE: STYLES DAY OF WEEK TEXT
*/
.dayOfWeek {
  margin: 5px;
  background-color: rgb(228, 212, 212); 
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

/* 
SELECTOR: CLASS MINVALUES
PURPOSE: STYLES MIN VALUE TEXT
*/
.minValues {
  text-align: center;

  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* 
SELECTOR: CLASS MAXVALUES
PURPOSE: STYLES MAX VALUE TEXT
*/
.maxValues {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* 
SELECTOR: CLASS CONTAINERHEADER
PURPOSE: STYLES HEADER H1 AND BUTTON
*/
.containerHeader {
  text-align: center;
}

/* 
SELECTOR: ID CITYINPUT, CITYNAME, INPUTCONTAINER, BUTTON
PURPOSE: STYLES USER INPUT AREA AND CITY SEARCH RESULT
*/
#cityInput, #cityName, #inputContainer, button {
  margin: 3px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

/* 
SELECTOR: ID ICONSCONTAINER
PURPOSE: STYLES ICON CONTAINERS THAT HOLD ALL DAYS OF WEEK, DAY IMAGE AND MAX/MIN VALUES
*/
#iconsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 240px;
  width: 1200px;    
  border: 5px solid rgb(31, 82, 82);    
  border-radius: 10px;
  background-color: rgb(228, 212, 212); 
}

